# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/target/
out
gen
/rxjava1/target/
/rxjava2/target/
/spring-boot-producer/target/
/grpc-exercise/target/
/spring-boot-consumer/target/
/vertx-exercise/target/
